.vs
.idea
.vscode

bin
Dependencies/bin
Dependencies/Workspace
Dependencies/GLAD
Dependencies/GLAD_Debug

__pycache__
env

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

**/imgui.ini

# Other .gitignore files:

# DevOps
# DevOps/IDEExtension