.vs
.idea
.vscode

bin
Dependencies/bin
Dependencies/Workspace

__pycache__
env

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

**/imgui.ini

# Other .gitignore files:

# DevOps
# DevOps/IDEExtension