# NewWorldVisualStudioPlugin
NewWorldVisualStudioPlugin/obj

!NewWorldVisualStudioPlugin/*.sln
!NewWorldVisualStudioPlugin/*.csproj
!NewWorldVisualStudioPlugin/*.vcxproj
!NewWorldVisualStudioPlugin/*.vcxproj.filters

# NewWorldVSCodePlugin
NewWorldVSCodePlugin/out
NewWorldVSCodePlugin/dist
NewWorldVSCodePlugin/node_modules
NewWorldVSCodePlugin/.vscode-test/

NewWorldVSCodePlugin/package-lock.json

# NewWorldWindowsPlugin
NewWorldWindowsPlugin/obj

!NewWorldWindowsPlugin/*.sln
!NewWorldWindowsPlugin/*.csproj
!NewWorldWindowsPlugin/*.vcxproj
!NewWorldWindowsPlugin/*.vcxproj.filters