# NewWorldPlugin
NewWorldPlugin/obj

!NewWorldPlugin/*.sln
!NewWorldPlugin/*.csproj
!NewWorldPlugin/*.vcxproj
!NewWorldPlugin/*.vcxproj.filters

# NewWorldVisualStudioExtension
NewWorldVisualStudioExtension/obj

!NewWorldVisualStudioExtension/*.sln
!NewWorldVisualStudioExtension/*.csproj
!NewWorldVisualStudioExtension/*.vcxproj
!NewWorldVisualStudioExtension/*.vcxproj.filters

# NewWorldVSCodeExtension
NewWorldVSCodeExtension/out
NewWorldVSCodeExtension/dist
NewWorldVSCodeExtension/node_modules
NewWorldVSCodeExtension/.vscode-test/

!NewWorldVSCodeExtension/.vscode

NewWorldVSCodeExtension/package-lock.json